.banner-section {
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .available-amount {
        text-align: center;
        margin-top: 3rem;

        .paragraph {
            color: $white-color;
            font-size: 2rem;
            .month {
                color: $green-color;
            }
        }

        .amount {
            margin-top: 1rem;
            color: $green-color;
            font-size: 3.5rem;
            font-family: sans-serif;
        }
    }

    .entries {
        display: flex;
        flex-wrap: wrap;        
        margin-top: 3rem;

        .entry:not(:last-child) {
            margin-right: 3rem;
        }

        .entry {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 1.7rem;
            background-color: white;
            padding: 1.5rem 2rem;
            border-radius: 3px;
            width: 25rem;
            color: $white-color;
            box-shadow: 0 1px 3px rgba($black-color, 0.5);


            &__amount {
                font-family: sans-serif;
            }
            &--income {
                background-color: $green-color;
            }

            &--expense {
                background-color: $red-color;
            }
        }
    }
}