.btn, button {
	display: inline-block;
	background-color: $green-color;
	color: $white-color;
	padding: 0.8rem 2.5rem;
	font-size: 1.4rem;
	font-family: inherit;
	font-weight: 700;
	border-radius: 3px;
	text-decoration: none;
	box-shadow: 0 1px 3px rgba($black-color, 0.4);
	border: 2px solid transparent;
	transition: transform 0.3s ease;
	cursor: pointer;
	transform: translateZ(0);

	&:hover {
		transform: translateY(-2px);
		transform: scale(1.02);
	}

	&--outline {
		background-color: transparent;

		&--green {
			border: 2px solid $green-color;
		}
	}
}
