//= fonts variables
$logo-font: "pacifico", sans-serif;

//= color variables
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);

$green-color: rgb(0, 232, 146);
$red-color: rgb(255, 0, 96);

$dark-gray-color: rgb(33, 34, 44);
